dialog {
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

dialog.opened {
  background-color: rgb(9, 81, 203);
  width: 300px;
  height: 600px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  border-radius: 15px;
  scrollbar-width: none;
}

dialog.opened::backdrop {
  opacity: 1;
  transition: all 125ms ease-in;
}

dialog::backdrop {
  opacity: 0;
  background-color: rgba(28, 74, 153, 0.9);
}

#diaContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

.closeBtnDialog {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 15px;
  border: none;
  padding: 8px;
  font-size: 24px;
  font-weight: 700;
  color: black;
  background-color: white;
  transition: all 125ms ease-in-out;
}

.closeBtnDialog:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(255, 255, 255, 0.291);
}

.dialogPokemonContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pokemonDialogHeadline {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  cursor: default;
}

.pokemonImgBoxDialog {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
}

.pokemonImageDialog {
  height: 180px;
  width: 180px;
  object-fit: cover;
}

.pokemonChangeBtn {
  border: none;
  padding: 8px;
  font-weight: 500;
  color: white;
  background-color: rgba(28, 74, 153, 0.5);
  transition: all 125ms ease-in-out;
}

.pokemonChangeBtn:hover {
  cursor: pointer;
  background-color: rgb(123, 122, 122);
}

.dialogPokemonDetailNav {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  border-bottom: 1px solid white;
  cursor: default;
}

.dialogPokemonDetailNav a:hover {
  cursor: pointer;
  color: rgb(2, 55, 82);
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-right: 2px;
  padding-left: 2px;
}

.basicInfomationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  cursor: default;
  padding-bottom: 24px;
}

.basicInfomationBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.291);
  border-radius: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  gap: 4px;
}

.headlineDetail {
  border-bottom: 1px solid white;
  width: 80%;
  display: flex;
  justify-content: center;
}

.abilitiesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statsBox {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.291);
  border-radius: 15px;
  padding: 4px 8px;
  margin-bottom: 8px;
  gap: 8px;
  cursor: default;
}
