dialog {
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

dialog.opened {
  background-color: rgb(9, 81, 203);
  width: 50%;
  height: 90%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  border-radius: 15px;
}

dialog.opened::backdrop {
  opacity: 1;
  transition: all 125ms ease-in;
}

dialog::backdrop {
  opacity: 0;
  background-color: rgba(28, 74, 153, 0.9);
}

#diaContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 24px 16px;
}

.closeBtnDialog {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 15px;
  border: none;
  padding: 8px;
  font-size: 24px;
  font-weight: 700;
  color: black;
  background-color: white;
}

.closeBtnDialog:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(2, 55, 82);
}

.dialogPokemonContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pokemonImageDialog {
  height: 180px;
}
