.mainMaxWidht {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 20px;
  font-weight: 300;
  background-color: rgb(2, 55, 82);
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 12px;
  cursor: default;
}

.searchArea {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.searchInput {
  border-radius: 15px;
  padding: 8px 8px;
  font-size: 16px;
  font-weight: 700;
  color: black;
  text-align: center;
  border: none;
}

.searchInput:hover {
  cursor: pointer;
}

.magnifyingGlass {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

#pokedexContant {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 24px 16px;
}

.pokemonContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgb(9, 81, 203);
  padding: 24px;
  padding-top: 16px;
  margin: 8px;
  height: 260px;
  width: 320px;
  transition: all 125ms ease-in-out;
}

.pokemonContainer:hover {
  filter: drop-shadow(5px 5px 5px rgb(179, 173, 173));
  scale: calc(1.1);
  cursor: pointer;
}

.pokemonCardHeadline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
  text-align: end;
}

.pokemonImgBox {
  display: flex;
  justify-content: center;
  border-radius: 15px;
}

.pokemonImage {
  height: 140px;
  width: 140px;
  object-fit: cover;
}

.typBox {
  display: flex;
  justify-content: center;
  gap: 12px;
  cursor: default;
}

.btnSection {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

.btn {
  padding: 8px 16px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: rgb(9, 81, 203);
  border: none;
  border-radius: 25px;
}

.btn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.placeholderContent {
  display: flex;
  justify-content: center;
  text-align: center;
}
