.mainMaxWidht {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 20px;
  font-weight: 300;
  background-color: rgb(2, 55, 82);
}

#pokedexContant {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 24px 16px;
}

.pokemonContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgb(9, 81, 203);
  padding: 24px;
  margin: 8px;
  height: 240px;
  width: 300px;
  transition: all 125ms ease-in-out;
}

.pokemonContainer:hover {
  filter: drop-shadow(5px 5px 5px rgb(179, 173, 173));
  scale: calc(1.2);
  cursor: pointer;
}

.pokemonCardHeadline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemonImgBox {
  display: flex;
  justify-content: center;
}

.pokemonImage {
  height: 140px;
  width: 140px;
  object-fit: cover;
}

.typBox {
  display: flex;
  justify-content: center;
  gap: 12px;
}
