.mainMaxWidht {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 20px;
  font-weight: 300;
  background-color: rgb(245, 247, 248);
}
