* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  flex-grow: 0;
  flex-shrink: 0;
}

main {
  flex: 1;
}

footer {
  flex-grow: 0;
  flex-shrink: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  font-family: "Raleway", Arial;
}

h2 {
  font-family: "Raleway", Arial;
}

h3 {
  font-family: "Raleway", Arial;
}
