.bgFire {
  background-color: #ff421c;
}

.bgGress {
  background-color: #62bc5a;
}

.bgNormal {
  background-color: #bbbbaa;
}

.bgWater {
  background-color: #2c9be3;
}

.bgElectro {
  background-color: #ffdc00;
}

.bgFlying {
  background-color: #96caff;
}

.bgBug {
  background-color: #92c12a;
}

.bgPoison {
  background-color: #9553cd;
}

.bgRock {
  background-color: #bbaa66;
}

.bgGround {
  background-color: #a67439;
}

.bgFight {
  background-color: #bb5544;
}

.bgIce {
  background-color: #74cfc0;
}

.bgPsycho {
  background-color: #ff6380;
}

.bgGhost {
  background-color: #6e4370;
}

.bgDragon {
  background-color: #5670be;
}

.bgDark {
  background-color: #4e4545;
}

.bgSteel {
  background-color: #aaaabb;
}
